[2013-04-30 06:39] szaghi opened #1 "Huge Dimensions"
Huge mesh dimensions, i.e. extents higher than 2^32-1, are not supported

[2013-04-30 06:40] szaghi opened #2 "Importers"
Importers are missing.

[2013-04-30 06:41] szaghi opened #3 "Doxygen Warnings"
There are doxygen warnings when building the documentation that must be eliminated.

[2013-04-30 08:00] szaghi opened #4 "Base64"
Binary base64 encoding must be implemented.

[2013-05-10 07:27] #4 closed, assigned to szaghi

[2013-12-16 12:07] MarDiehl opened #5 "Gfortran 4.7.3 allocation"
When compiling with gfortran/gcc 4.7.3 (Ubuntu/Linaro 4.7.3-2ubuntu1~12.04), compilation stops with a number of warnings like this

allocate(varp(1:size(transfer([int(vtk(rf)%N_Byte,I4P),v_I4],varp))))

Error: 'varp' must not appear in the array specification at (1) in the same ALLOCATE statement where it is itself allocated
../lib/Lib_VTK_IO.f90:4186.17:

compilation with Intel Fortran is ok, the

[2013-12-17 09:53] #5 closed, assigned to szaghi

[2013-12-17 09:54] #3 closed, assigned to szaghi

[2014-01-14 18:20] MarDiehl opened #6 "Gfortran warnings (might be over sensitive)"
I got the following warnings when compiling Lib_VTK_IO with gfortran and a lot of warning enabled. Does not seem to be serious, but might be helpful

../lib/IR_Precision.f90:1162.11:
    Included at libs.f90:33:

  BIR16P = bit_size(r=MaxR16P) ; BYR16P = BIR16P/8_I2P
           1
Warning: Conversion from INTEGER(1) to INTEGER(2) at (1)
../lib/IR_Precision.f90:391.13:
    Included at libs.f90:33:

[2014-12-23 15:27] #6 closed, assigned to nobody

[2015-01-08 12:15] szaghi opened #8 "Ford Documentation"
Migrate API documentation from doxygen to Ford

[2015-01-09 11:15] szaghi opened #9 "XML-efficiency"
This is not properly a bug. There is an inefficiency when saving XML raw (binary) file. To write raw data into XML file the library uses a temporary scratch file to save binary data while saving all formatting data to the final XML file. Only when all XML formatting data have been written the scratch file is rewind and the binary data is saved in the final tag of XML file as raw appended data. Thi

[2015-01-27 16:51] #8 closed

[2015-02-13 05:32] szaghi opened #10 "extend support to other vtk types"
Support other not yet supported types, e.g. polylines.

[2015-03-31 15:43] szaghi opened #11 "Makefile bugged!"
It seems that makefile is bugged (missing Lib_Pack dependency). A kind user (Corentin) already patch the makefile, I will upload soon.

[2015-03-31 17:12] szaghi commented on #11
Just upload the patched makefile. Thank you Corentin!

[2015-03-31 17:12] #11 closed

[2015-04-01 12:45] corentinroussel commented on #11
You're welcome!

[2015-04-01 12:47] szaghi commented on #11
Welcome on Github!

Be careful... Github generates addiction :-)

[2015-06-10 14:45] szaghi commented on #2
Start to merge @victorsndvg work from its fork.

There are a lot of work to do...

### Victor programming style
Victor programming styles seems too much different from mine. Take this in count.

### Library source size
The library source is becoming huge. Consider to exploit `include` for making light the source file.

Speak of this with victor.

### XML Parsing
Victor XML parsing seems complex: p

[2015-06-10 15:48] victorsndvg commented on #2
Hi Stefano,

I'm glad to see that you are reviewing the new and big piece of code... Good luck! :)

Feel free to ask or suggest anything. I will try to help you with any doubt and I can also try to adapt or reimplement the code according to your suggestions. Probably it will be a long conversation :)

Best regards,
Víctor.

[2015-06-10 16:11] szaghi commented on #2
@victorsndvg

Thank you very much for your kindness, it is very appreciated.

Let's go!

### Lib_VTK_IO.F90 source file size

In your version, that is the most up-to-date, the lines counting is now `12572`: too much for me. I am thinking to exploiting `include` statement with the following logic:

the procedures of (let us say) `VTK_GEO_XML` will go into `Lib_VTK_IO-GEO_XML.inc` thus the actual im

[2015-06-10 16:40] victorsndvg commented on #2
@szaghi

I've never used the include statement before. I have to read something about it.

My first impression, and baseless opinion, about `include`  statement is that it seems a very old-school-F77 style. May be i'm wrong, sorry for my impudence :)

And, why not to modularize the code?

I mean, reorganize the source code in different modules. For example:

File `Lib_VTK_IO-GEO_XML.f90` should co

[2015-06-10 16:57] szaghi commented on #2
@victorsndvg

You are (almost) right.

`include` is in standard from very old time (I am not sure but I think that f66 should have). However, it is still not included into the *deprecated* feature, because it has its pros:

+ using `include` avoid the compiling cascades hierarchy that comes with `use module...`; it is not a real problem, I have FoBiS.py :-) but other users may complain about;
+ us

[2015-06-11 06:55] victorsndvg commented on #2
@szaghi ,

it's nice to learn reading your posts. Thank you.

I'm agree with you, there must be some modules (or only 1) containing global variables and common procedures. As an early/basic idea, and according to this, to avoid circular dependencies between modules we could think in a 3 (or more) level hierarchy. The lowest level could contain those common and global things and the highest level w

[2015-06-11 07:16] szaghi commented on #2
@victorsndvg

You are completely right. This night, "sloshing" my daughter, I realized that *modularization* is definitely the better approach because allow the easy maintenance of the library and favorite the future refactoring (I am planning to refactor the API to allow OOP, that, besides other things, means encapsulate all...). I think to discard the idea of exploiting `include` facility.

Thus

[2015-06-11 11:23] szaghi commented on #2
@victorsndvg

Just added a new branch, **importers**.

The modularization is done as above described.

The naming convention adopted is trivial, but feel free to suggest a more smart one.

Into the back-end module I have already inserted your auxiliary procedures. Besides some minor changes for conforming my (bad) style, I have made some major changes:

+ into your original source you call your pr

[2015-06-11 11:24] victorsndvg commented on #2
@szaghi

an OOP approach will be great!

### Modularization hierarchy

I'm completely agree with you.

### Modules naming

About modules naming, as a user of your library since some time ago,  i think that the actual name functions are friendly. I think that maintaining this names will help the old users to adapt and understand the new modularization.

Maybe something like:
 - VTK_GEO_XML.f90 will

[2015-06-11 11:26] szaghi commented on #2
@victorsndvg

Just added you as collaborators. You can push your commit directly here.

See you.

[2015-06-11 15:43] victorsndvg commented on #2
@szaghi

About the two previous point talking about auxiliary procedures:

- I agree with you about passing  dummy arguments with name association. It is not only more safety, it is also more elegant :)

- I thought the opposite you are telling. If I understood correctly the issue, and after searching in the F2003 standard book, I think that the optional arguments are not involved in the uniquenes

[2015-06-11 20:52] szaghi commented on #2
@victorsndvg

You are right. I was thinking exactly to the sentences you have reported (I had not the standard under my eyes today). I use named associations always alsi for avoid ambiguity. However, the sentence you reported is not talking about the definition of the procedure (as I was concerning) rather to the caller signature. Tomorrow I will check, but lrt us now consider an example:

[code]

[2015-06-12 07:17] victorsndvg commented on #2
@szaghi

It's hard to read all references to optional arguments in the handbook to get what we want to know. Now I'm going to continue reading.

I think that is strongly coherent to put the non optional arguments first, because when you will calling the procedures without keywords: *...arguments without keywords must appear prior...* . I always use it in this way because I think that is usual in P

[2015-06-12 13:31] szaghi commented on #2
@victorsndvg

My today tests have been usefulness. I cannot discover why (if I remember right) some Intel's Fortran Guru showed me that *it was a best practice define optional arguments before non optional...*.

On the contrary, re-reading a great book, **Modern Fortran, style and usage** of *Clerman and Spector*, I found our searching best practice hint

If you agree, I will follow this conventio

[2015-06-12 13:57] victorsndvg commented on #2
@szaghi

sorry I cannot found any useful info ...

I'm agree with you. I will take note of this convention also for my future works

[2015-06-16 15:36] szaghi opened #12 "Avoid usefulness `implicit none` everywhere"
Avoid usefulness `implicit none` everywhere, just one into the module is enough!

Thank you @certik

[2015-07-07 21:53] brownto opened #15 "Tensor data?"
Is there anyway to use VTK_IO to save tensor data to a .vtu file? If not, can you point me to the file format for tensor data in a .vtu file?

Thanks

Tom

[2015-07-08 03:57] szaghi commented on #15
Hi @brownto

Yes, you can save scalar (1 component), vector (3 components), tensor (3x3 components) or n-components field. I have not an example ready, but later in the morning I can try to write one if you can wait. See you later.

[2015-07-08 13:33] brownto commented on #15
Thanks.

[2015-07-08 14:48] szaghi commented on #15
Hi @brownto

Unluckly I have not found clear indication into the VTK standard. For the old legacy standard seems that a `tensor` keyword is present, but not for the new XML one. You can try the following:

[code]

where `tensor` is our tensor array.

Let me know if you have problems.

[2015-07-08 16:31] brownto commented on #15
Works perfectly. Thanks.

[2015-07-08 16:31] #15 closed

[2015-08-06 15:47] whophil opened #16 "Makefile is broken"
Makefile is currently broken, complaining about the `IR_precision.f90` module

[code]

[2015-08-06 15:58] szaghi commented on #16
Thank you for pointing out. I am leaving the office. I hope you can wait few days, I am very sorry.

See you soon.

[2015-08-06 16:01] szaghi commented on #16
Anyhow the fix should be very quickly and if you cannot wait until I push the fix you can added a patch to your local makefile: simply check the IR_Precision.f90 extension. At sometimes I have changed the case from lower to upper case and then come back without changing the makefile. Try to check this. At a first view it seems that the makefile into the master branch of the github repo is consiste

[2015-09-15 16:02] whophil commented on #16
Hi @szaghi. I've had some more time to look into this. I'm no Makefile expert, but It looks like it is missing a number of rules. For example, there are no rules for a lot of the dependent modules (for example, any of the `*_back_end.f90` files). Also, the paths for the existing rules are broken, since `$(DSRC)` changed from `./src/` to `./src/lib` at some point. Since there are now quite a few so

[2015-09-15 16:04] szaghi commented on #16
Hi @whophil ,

I am very sorry! Among the other tons of issues (of other works) I completely forget to fix this! Let me few days and I will fix it.

Again I am very sorry!

[2015-09-17 14:37] szaghi commented on #16
I have just pushed an updated makefile. It seems to work. I am closing this issue, but feel free to reopen it if the patch does not work as expected.

Thank you for using the library,

my best regards.

[2015-09-17 14:37] #16 closed

[2015-09-17 15:27] whophil commented on #16
@szaghi Works great! The only thing to note is that before compiling you need to do one of the following:

1. copy `IR_Precision.f90` from `./external/IR_Precision/src/` into `./src/lib/`, or
2. create a symbolic link
[code]

Thanks again. Looking forward to using this library!

[2015-09-17 15:35] szaghi commented on #16
Sorry, the doc is not yet updated, indeed you do not to make links manually, rather, when cloning the repository, do a recursive clone:

[code]

As a matter of fact, IR_Precision is now a submodule of FLAP project, thus in FLAP it lives into external directory as a git submodule: if you not use recursive, the IR_Precision is not cloned.

The symlik in to src/lib should be already present (online i

[2015-11-09 20:38] szaghi opened #17 "Add doctests"
Exploit FoBiS doctests for improving code coverage/regression/usage-documentation.

[2016-01-29 10:11] vq200 opened #18 "problems with makefile"
Hi Szaghi,
First, thanks a lot for your work!!!
I'm trying to compile your Lib_VTK_IO but I get the following message when running make:

Compiling Lib_Base64.f90
make: *** [obj/lib_base64.o] Error 1
I have no clue what to do. I would appreciate if you could indicate me how to proceed as I'm very interested in using the library.
thanks a lot,
vicent

[2016-01-29 10:18] szaghi commented on #18
Dear Vicent,

thank you for interest.

The Makefile has currently some problems: it should not be up-to-date (the library was under refactoring some months ago, but I had to freeze it for some time). I forget to fix the makefile...

Let me few hours and I try to fix it.

Stay tuned.

P.S. also the documentation is not up-to-date: the Importers are now partially added so the API is changed...

[2016-01-29 15:39] szaghi commented on #18
Dear Vicent,

I think that the makefile is ok: I have tested to download and compile the current master branch and all work as expected, see this

[code]

I think that into your Lib_VTK_IO directory root you have not some dependencies. These are download automatically only if you use `git clone --recursive https://github.com/szaghi/Lib_VTK_IO`. Without `--recursive` not all dependencies are downlo

[2016-01-29 15:43] szaghi commented on #18
@vq200 Please, note that the API is changed by the one described into the wiki, i.e. currently you have

+ `VTK_INI_XML_WRITE` and `VTK_INI_XML_READ` instead of the single *old* `VTK_INI_XML`
+ `VTK_GEO_XML_WRITE` and `VTK_GEO_XML_READ` instead of the single *old* `VTK_GEO_XML`

[2016-02-01 09:12] vq200 commented on #18
Thanks a lot Szaghi,
I've repeated now ... and it works perfectly.
vicent

[2016-02-01 09:16] szaghi commented on #18
@vq200 You are welcome, I hope to update the library soon. Let me know of any problems you face with, I will try help in case.

See you soon.

[2016-02-01 09:16] #18 closed

[2016-03-28 08:23] nourimdafer opened #19 "Error when linking LIB_VTK_IO"
Dear Dr Szaghi
I'm using Ubuntu 14.04 with gnu Fortran 4.8.4 and GNU Make 3.81. I compiled the Lib_VTK_IO with mpi option, and I get three folders (/mod /static /object)
I add Lib_VTK_IO functions to my code and I use 'use Lib_VTK_IO' to include the module.
to compile I use a Makefile:
[code]
The compiling phase was successful, but when linking an error message was displayed
[code]
thank you for h

[2016-03-28 17:45] szaghi commented on #19
@nourimdafer
Thank you for these info.

Tomorrow I will check more carefully this issue.

See you tomorrow

[2016-03-29 07:49] szaghi commented on #19
@nourimdafer

Hi Nouri,

There is a bug into the library makefile. Let me few minutes to correct it. Unfortunately, I don't use very much GNU Make now that I have FoBiS :smile:

[2016-03-29 08:00] szaghi commented on #19
@nourimdafer

In the new release 1.2.4 I should have corrected the makefile: now the static-compiled library should have all the dependencies inside.

Let me know if this fix the bug also for you.

Thank you very much for your help.

See you soon.

[2016-03-29 08:35] nourimdafer commented on #19
Now the library work amazingly, I would like to express my sincere gratitude to you.
see you soon.

[2016-03-29 08:38] szaghi commented on #19
Your are welcome.

Good look,

see you soon.

[2016-03-29 08:38] #19 closed

[2016-06-17 17:01] szaghi opened #20 "OOP Refactoring"
OOP Refactoring started.

New branch created for this aim `feature/OOP-refactoring`.

### VTK file class

A new class has been created.

It is not complete, but already huge... The `include` statements have been exploited to *sanitize* implementation.

@victorsndvg Dear Victor, as soon as you can/want see this new refactoring I would like to know your comments.

[2016-06-20 09:23] victorsndvg commented on #20
Hi @szaghi ,

i'm happy to see this issue open!

First of all, congratulations for this work, I was taking a look over the code and now is more easy to read!

I hope to have some time to spend in this project as soon as possible and be able to help you with anything you need. I have to study a little the implementation of the readers to try to adapt them  to your new code.

Finally, I'm agree with

[2016-06-20 09:51] szaghi commented on #20
Dear @victorsndvg,

thank you for your feedback.

No rush, do not worry. For the Importers, I am trying to update concurrently [FoXy](https://github.com/Fortran-FOSS-Programmers/FoXy) to *sanitize* the XML IO parts...

I started using `submodules` but I faces with some issues (probably due to immature compilers support, or more likely due to my inexperience with them), so I had to revert back to *

[2016-06-21 07:38] victorsndvg commented on #20
Dear @szaghi ,

I've been thinking a little in the OO design for Lib_VTK_IO and I have some suggestions. Let me know your thoughts!

Based on the **XDMF** library (and also XH5For :) ), one could isolate 2 main responsibilities in the tasks performed by Lib_VTK_IO. The first one, the *XML/tags IO*, and the second one the *raw data IO* (raw, binary, appended data).

In a first sight, I think that t

[2016-06-21 07:51] victorsndvg commented on #20
Basic scheme of the ideas in the previous comment

![libvtkio_oo](https://cloud.githubusercontent.com/assets/6474985/16221933/b79e3aec-3795-11e6-9a30-39dfaf0ad228.png)

[2016-06-21 16:53] szaghi commented on #20
Dear @victorsndvg

Wow! I think I almost agree on all, but today has been a *complicated* day... I have not the time completely understand all your points an replay adequately. Tomorrow I will do it.

Thank you very much, this is very helpful!

[2016-06-23 08:01] szaghi commented on #20
Dear @victorsndvg

I finally studied some about *state* and *decorator* patterns... yes, will go with them!

I hope to lint some files today and then I will try to go on state-decorator way!

Great suggestion!

[2016-06-23 10:09] victorsndvg commented on #20
Good news @szaghi ,

I will be aware of the Lib_VTK_IO changes. Be free to ask anything, i'm open to help you!

[2016-06-23 10:30] szaghi commented on #20
@victorsndvg

Let us consider the "kind" of writers possibilities

| Codec | local position | appended position |
|----------|---------|-------|
| ascii | :white_check_mark:  | :white_check_mark:  |
| binary (base64) | :white_check_mark:  | :white_check_mark:  |
| raw | :no_entry_sign:   | :white_check_mark:  |

Do you think we should start with 5 write states?

E.g.
+ `write_ascii_local_state`
+

[2016-06-23 11:26] victorsndvg commented on #20
@szaghi ,

I'm not sure at all if this is the best approach... it seem to be a good start point. After implementing it, we will probably check all the occurrences between different strategies. Maybe at the end we will have implemented 2 hierarchy levels (Appended/Format or Format/Appended) depending on the common variables/procedures.

Other suggestion:

I'm not totally sure and is not really impo

[2016-06-23 11:42] szaghi commented on #20
@victorsndvg I have played with state/strategy patterns... due to my inexperience it seems very complicated... Do you want to see the first skeleton? I can push on OOP branch these unused classes...

[2016-06-23 12:05] victorsndvg commented on #20
@szaghi ,

Ok, i can take a look to this new code if you want! :)

[2016-06-23 12:11] szaghi commented on #20
@victorsndvg pushed.

[2016-06-23 13:48] victorsndvg commented on #20
@szaghi ,

I'm not an expert and probably I will be wrong in a lot of things, but let's go!

I'm not able to completely understand where this piece of code is inside all the hierarchy.  Who is the context and who are the states? Finally, you will also need a hierarchy for the XML IO?

I think that the state is the one in charge of allocate/deallocate the polymorphic objects (setting the state). As

[2016-06-23 14:17] szaghi commented on #20
@victorsndvg Wow, I have to study a lot...

What do you think about **strategy** instead of **state** pattern? At a first view it seems simpler for a poor donkey like me and still suited for our aims.

[2016-06-23 15:05] victorsndvg commented on #20
@szaghi ,

Ufff difficult question for me ... I'm not sure if in my code i'm using state or strategy :laughing:

both are similar patterns,  **I think** that the class diagram is identical in both cases. **For me** the most important difference is semantic.  Strategy pattern is made to wrap (*single purpose?*) algorithms in a black box, while State is made to dynamically change the way an (*more c

[2016-06-23 15:39] szaghi commented on #20
@victorsndvg

Agree on all, and all help!

Thank you!

[2016-06-23 16:41] szaghi commented on #20
@victorsndvg

It seems that I am more *confident* with the **strategy** pattern: in the last push to the OOP branch there is the *almost* complete `xml_writer_ascii_local` *strategy*, namely the ascii writer facility. This looks to me like a good trade-off between *efficiency* and *clearness*. What do you think about?

[2016-06-24 13:55] victorsndvg commented on #20
Sorry @szaghi ,

we are on holidays and I cannot take a look now. I will write you on Monday!

Enjoy the weekend!

[2016-06-24 16:03] szaghi commented on #20
Dear @victorsndvg

do not worry!

In the last push on OOP branch I have completed the *transition* to the **OO Strategy Pattern**. In particular we have:

+ `xml_writer_asbtract`, the abstract strategy:
    + `xml_writer_ascii_local`, the concrete strategy to write in `ascii local` format;
    + `xml_writer_binary_local`, the concrete strategy to write in `binary local` format;
    + `xml_writer_a

[2016-06-24 16:05] szaghi commented on #20
P.S. I am going to change the name of the library, I prefer

### VTK_Fortran

do you agree?

[2016-06-24 19:33] victorsndvg commented on #20
Perfect for me! :+1:

[2016-06-28 11:58] szaghi commented on #20
[FoXy](https://github.com/Fortran-FOSS-Programmers/FoXy) is almost ready, soon I will start to use it for this OOP refactoring branch.

[2016-06-28 17:06] victorsndvg commented on #20
Dear @szaghi ,

congratulations, new code is amazingly simplest to read! :+1:

I was also taking a look to FoXy. I have seen that you already implemented the writing capabilities. Great work! I will try to check it as soon as possible

[2016-06-28 19:11] szaghi commented on #20
Victor you are too much kind, but the idea is your, I have made only some *oompa loompa* stuf :smile:

[2016-07-01 02:24] appleparan commented on #20
How about removing underscore to new library name? I didn't see any underscores in library name. It could be wired when link with -lVTK_FortranHow about VTKFortran?

[2016-07-01 03:28] szaghi commented on #20
Dear Liam, right observation. During the next week I hope to push the new
release called VTKFortran.
Il 01/lug/2016 04:24, "Liam Jongsu Kim" <notifications@github.com> ha
scritto:

underscores in library name. It could be wired when link with
-lVTK_FortranHow about VTKFortran?

[2016-09-15 10:21] szaghi commented on #12
Done

[2016-09-15 10:21] #12 closed

[2016-10-11 21:58] dharp opened #21 "Compile error"
When I try to compile the code, I get:

make: **\* No rule to make target 'penf.F90', needed by 'static/obj/penf.o'.  Stop.

It looks like the PENF source files are missing. Am I doing something wrong?

Thanks,
Dylan

[2016-10-12 03:34] szaghi commented on #21
Dear @dharp

Thank you for pointing it out. Make is not the main building system, I often forget to update it when the project is modified. Let me few hours and I'll fix it (probably I moved third party dependencies like PENF without updating the makefile, FoBiS does not need such maintenance :smile: )

See you very soon.

[2016-10-12 14:49] dharp commented on #21
Thanks Stefano!

--
Dylan R. Harp
Computational Earth Science Group
Earth and Environmental Sciences Division
Los Alamos National Laboratory

(505) 667-5532
Mail Stop T003
Los Alamos National Laboratory
--

From: Stefano Zaghi <notifications@github.com<mailto:notifications@github.com>>
Reply-To: szaghi/VTKFortran <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, October 11, 20

[2016-10-12 16:06] szaghi commented on #21
@dharp

I have just upload a patch to the master branch. There are some modifications with respect the older version:

+ into the `src/lib/` directory the sym link to third-party sources have been removed;
+ FoBiS and GNU Make should now work equally;
+ CMake could be broken (@victorsndvg can you check this?)

In the next release I will *sanitize* the tree and add an *automatic* install script.

#

[2016-10-12 16:47] dharp commented on #21
Hi Stefano,

I’m now getting:

make: *** No rule to make target `src/third_party/BeFoR64/src/lib/befor64.F90', needed by `static/obj/befor64.o'.  Stop.

--
Dylan R. Harp
Computational Earth Science Group
Earth and Environmental Sciences Division
Los Alamos National Laboratory

(505) 667-5532
Mail Stop T003
Los Alamos National Laboratory
--

From: Stefano Zaghi <notifications@github.com<mailto:noti

[2016-10-12 17:41] szaghi commented on #21
I have to update the doc damn me! The submodules must be update after the
repo is cloned. Try this

git clone --recursive http...
cd VTKFortran
git submodule update --init --recursive

Il 11/ott/2016 23:58, "Dylan Robert Harp" <notifications@github.com> ha
scritto:

[2016-10-12 18:01] dharp commented on #21
Ok, makes it a lot farther now with gcc 5.4.0:

susfto-eddy:VTKFortran$ make

 Compiler used  gnu => /usr/bin/gfortran
 Source dir     src/
  Lib dir        ./static/
  Libray         ./static/libvtkfortran.a
  Shared lib     no
  Debug          no
  F-standard     no
  Optimize       no
  OpenMP         no
  MPI            no
  R16P           (Known R16P switch) Used R16P=no

 Compile options
 [-

[2016-10-12 19:51] szaghi commented on #21
arghhh... I am not sure, but it is possiboe that [StringiFor](https://github.com/szaghi/StringiFor) now requires GNU gfortran 6.x+ (the doc says 5.3 but my doc is often not in sync with my fingers...). I am currently using 6.1.1 and 7.0.0 testing. Your ICE sounds like some F2008 features not supported by GNU 5.3. As a matter of fact it works with 6.x trunk see [travis log](https://travis-ci.org/sz

[2016-10-13 10:28] victorsndvg commented on #21
Hi @szaghi ,

I will need some time to change the CMake compilation system. I think that the right way to implement it is using the `externalproject` feature of CMake. To use this feature I need to create a CMake compilation system for all third party projects (**BeFoR64, FoXy, PENF, StringiFor**).

If it's ok for you, I will try to implement it as soon as possible. But currently I'm very very bus

[2016-10-13 11:52] szaghi commented on #21
@victorsndvg Absolutely no rush, take all time you want. Mine was just a remainder for you because I do not use CMake, but with the new modifications I think I have broken your CMake setup. For CMake you are my boss, on the contrary I have to thank you for adding a feature that many people like.

Cheers.

[2016-10-13 12:48] victorsndvg commented on #21
Yes, you are right, CMake build system of VTKFortran is currently broken. I will fix it as soon as possible.

Thanks to you for your great libs, I'm using them in almost all my projects :grimacing:

[2016-10-13 12:52] szaghi commented on #21
I am really sorry for you :smile:

[2016-12-21 16:52] szaghi opened #22 "VTM support is currently lost"
The support for Multi-blocks dataset VTM is currently lost:

[2016-12-23 14:34] szaghi commented on #22
Done in v2.0.1

[2016-12-23 14:34] #22 closed

[2018-08-13 17:39] jnmchck opened #23 "Error when compiling"
Dear szaghi,

i am very interested in your fortran library for writing vtk-files.

Unfortunately i get the following error when trying to compile the source code:

[code]

I installed FoBiS and tried to build like this: `FoBiS.py build -mode static-gnu-debug`
(`FoBiS.py build -mode static-gnu` didn't work neither)

Thank you in advance,
Regards
Jan

[2018-08-13 19:33] szaghi commented on #23
Hi Jan,

I am out of office until September, thus I cannot help you efficiently with my smartphone, please be patient.

Anyhow, at a first glance it seems that you do not have all the third party dependencies like PENF. Try to update the submodule like:

( I am not sure about the syntax, but it should be something about the above)

See you soon and thanks for the patience.

[2018-08-14 17:26] jnmchck commented on #23
Hi Stefano,
(Sorry for mistaking your name at the first time)

now everything works fine. Thank you.

[2018-08-22 09:35] szaghi commented on #23
Hi Jan,

do not worry for the name :-)

I am happy that all work well now.

See you soon.

[2018-08-22 09:35] #23 closed

[2018-08-24 17:36] RBCanelas opened #24 "binary UnstructuredGrid is incomplete under ifort"
Hello!

Have been using this lib for a few weeks to output particles in an unstructured mesh (would be great to have polydata, I have no idea how difficult it would be to contribute).

When passing large-ish arrays (~30k reals?), I get a stack overflow under ifort. Using /heap-arrays does nothing as it seems to be a assignment on the fly copy issue. Using /nostandard-realloc-lhs there is no stack

[2018-08-27 07:50] szaghi commented on #24
Hi, thanks for the feedback.

Polydata has never been considered due to my needs (and no other users asked for it), thus I cannot say how difficult it is, I'll try to investigate it soon.

The large-array issue is interesting: with raw (binary) file there could be issues, but in writing speed rather in stack-related problems... this is very interesting, if you can send a reproducible test I'll inv

[2018-08-27 14:13] RBCanelas commented on #24
Hey,

since, for my needs, I can write particle data in an unstructured mesh format with blank fields, it's not a problem. Shame that on paraview I then need to use gaussian sprites instead of just points, this will be bad when I get to 10^6 particles...

I'm able to reproduce the behavior with your write_vtu.f90 on my windows system (and since this seems to run fine on my unix system, I'm guessin

[2018-08-27 14:58] szaghi commented on #24
Hi @RBCanelas

Yes, it is interesting the different behavior of the two OS, but I am not a Windows users (and I do not want to became one of them :smile: ), maybe is it related to the different handling of stack/heap memory?

Why do you use `-nostandard-realloc-lhs`? I should use only standard Fortran feature, the left-hand-side is automatically reallocated only if needed in F03/08. Are you using

[2019-08-02 13:35] konokman opened #25 "VTM hierarchy"
Hi,

firstly, thank you for this great Fortran lib.
I think the main advantage of the multiblock data set of VTK among others (ie. Tecplot) is that you can freely group the parts (datasets) and assemblies (blocks) just like CAD program hierarchy. For example:
	Block	Index = 0
		DataSet	Index = 0
		Dataset	Index = 1
		Block	Index = 2
			Dataset	Index = 0
			Dataset	Index = 1
		EndBlock
		DataSet	In

[2019-08-03 09:40] szaghi commented on #25
Hi, thank you very much for your feedback. Currently I am out of my office for my holiday, I will back at the of August, as soon as possible I will keep this issue on.

Cheers

[2019-11-09 21:17] AliE89 opened #26 "penf library files missing inside "/src/third_party/BeFoR64""
Hello Stefano,
First of all thanks for this fine contribution! This is a very usefull piece of work for a FORTRAN programmer.

Since I see that you are still active on this project, then I have a couple of "fixes" to compile the master branch:

- Make is looking for the PENF library in /src/third_party/BeFoR64/, thus they have to be moved manually to compile.

-  There is a typo in the extension o

[2019-11-11 08:31] AliE89 commented on #26
Hi @szaghi, also it looks like the API page is not working. Any change to get the manual? :)

[2019-11-11 09:44] szaghi commented on #26
@AliE89

Thank you very much for reporting the bug. The makefile is not well maintained because I use FoBiS thus it has many bugs. I will fix them soon.

Concerning the API page I'll fix it as well.

Cheers

[2019-11-11 10:01] AliE89 commented on #26
Thank you very much for this! Also I am wondering if the current version still supports vtk legacy. Does it? I see that there is a folder called reference, but iti s not compiled by the makr file.

[2019-11-11 10:07] szaghi commented on #26
@AliE89

sorry for the ambiguity, but the `reference/legacy` directory contains just old legacy sources. If you mean if VTKFortran support "VTK legacy format", it should (but not tested recently, maybe I have dropped the support at some points in the past).

[2019-11-11 10:10] AliE89 commented on #26
That's cool. Cause I have found also your version 1.2 that looks to have this feature. I have complied it but not tested yet. Has the library massively changed? Honestly I will be happy just to save in binary :) I can also consider ti switch to xml if you advise so! :)

[2019-11-11 10:14] szaghi commented on #26
Completely refactored from the old version. It works and many still use the old version, but I will not fix bug on it or implement new features into it. XML is a much more powerful format, it is a much better format than the old legacy one.

Cheers

[2019-11-11 10:16] AliE89 commented on #26
Ok so I will go for it! Let me known whrn the api is working :) thank you very much for this nice piece of work!

[2019-11-11 10:18] szaghi commented on #26
I have reopened this: I would like to fix the makefile and API page before closing it.

[2019-11-11 16:48] szaghi commented on #26
@AliE89

I have just uploaded a version (into master branch) with amended makefile and I have updated the online API documentation pages.

Let me know if this update solves this issue.

Cheers

[2019-11-11 17:08] AliE89 commented on #26
Cool, thank you very much! I am going to test the library in my code and see if it helps! Also i will get you back on the compilation problem I have seen so far!

[2019-11-11 20:16] AliE89 commented on #26
Hi @szaghi ,

now the library compiles as smooth as silk! But I am getting issues while compiling my code on penf (e.g.)

 undefined reference to `__penf_stringify_MOD_str_r4p'

this comes out when I call ierr = vtk_field_file%initialize(format='binary', filename='myField.vtu', mesh_topology='UnstructuredGrid').

Any Hint?

[2019-11-11 20:38] AliE89 commented on #26
I have found out that you need to link the program to penf when compiling, otherwise the compiler can found the modules  related to penf but not libpenf.a which is not compiled by the makefile of vtkfortran. This can be a potential issue as well maybe , I  let you decide about this :)

[2019-11-11 22:08] AliE89 commented on #26
So in the end I make the library works! Thank you very much for this, you saved me a lot of time. The last issue that I see is that the code takes a lot of time to write in ascii, but the binary and raw looks ok! I think you can close the issue!

[2019-11-25 13:01] fran-pena opened #27 "No rule to build 'src/third_party/BeFoR64/src/lib/befor64.F90'"
Dear Stefano,

I try to compile VTKFortran as static library in Linux, just using command `make`:
[code]
I saw in a previous issue that you fixed the `makefile` so, I am missing something in order to use it?
Thank you.

[2019-11-26 13:08] szaghi commented on #27
@fran-pena

I have to check, probably the fix does not fix nothing...

Let me few hours.

[2019-11-26 13:27] szaghi commented on #27
@fran-pena

I have just checked and all seems ok for me

[code]

Can you re-check? Maybe with a clean clone of the master branch

[2019-11-26 13:36] fran-pena commented on #27
Hi,

I am following these steps (in a fresh new folder):
[code]
The problem seems to be that `VTKFortran/src/third_party/BeFoR64` is empty.

[2019-11-26 13:40] fran-pena commented on #27
Hi,

I've just googled a solution for update the third-party repositories and I've found:
[code]
Now it works!

[2019-11-26 13:42] szaghi commented on #27
@fran-pena I have to update my documentation, my bad.

Happy to see it works,

cheers

[2019-11-26 13:42] #27 closed

[2020-04-26 16:02] marc-git opened #29 "dependencies Lib_Base64.f90 and IR_precision.f90"
hey very cool software. I was very excited but this is only for poor men, but I am a very poor student man and I don't have a commercial compiler :( can one bypass this dependency for your open-source project?

[2020-04-27 08:02] szaghi commented on #29
@marc-git

Hi, this is for all poor people, no matter you age :-)

All the dependencies are included as sources, you do not need any commercial software (to develop my libraries I use mainly GNU Fortran). BeFoR64 and PENF (the new names of the libraries you have cited) are two other libraries of mine that are included into VTKFortran as submodules, just clone this repository and initialize the sub

[2020-04-30 19:21] AliE89 opened #30 "xml_writer%write_geo does not write the points section if nc>np"
Ciao Stefano,

Hope you are doing well. I am facing a wired issue using your library.

I am using your library  (it is very cool!) and up to now I have not faced any issue. Today, I had one which I suspect to be a bug.

I am trying to write a unstructured mesh of 14 points, 24 cells, cell type is  tetrahedron (cell_type=10). I am able to get a geometry unitl np > nc, but suddendly, if nc>np, write

[2020-04-30 19:32] AliE89 commented on #30
Stefano, I can confirm that the problem is when nc>np. Have you got some sort of check that prevents the code to write the points down? I just added a couple of dommy points in order to have np>nc and it worked.

[2020-05-01 08:24] szaghi commented on #30
Hi @AliE89

You are right, there is a silly check, I do not know why I had introduced it, I am going to fix this bug, I hope to finish it today.

Thank you very much for pointing it out.

Cheers

[2020-05-01 09:27] AliE89 commented on #30
Thanks Stefano,

I have found out where you check for the number of cells in in 4 procedure in vtk_fortran_vtk_file_xml_writer_abstract. Removing that looks like make the thing working. I will re-pull the lib with you official fix in any case!

[2020-05-01 09:35] szaghi commented on #30
@AliE89

I have already removed the check. Let me few hours, I am merging other branches and pulling a new release today

[2020-05-01 09:38] AliE89 commented on #30
This sounds like a plan! Fortran people have to offer you a beer ;)

[2020-05-01 11:20] szaghi commented on #30
@AliE89 @smelch000 @rnelias @victorsndvg

I have just uploaded a new release: there is the bug fix for this issue and the new *volatile* file method for enabling the library to be used into a parallel scenario where only one (master) process has access to the filesystem. It should be fully backward compatible. I have made minor code lint and I have updated the makefile.

I hope to update soon the

[2020-05-01 12:00] AliE89 commented on #30
Cool, many thanks Stefano!

[2020-05-01 12:14] smelch000 commented on #30
Thank you Stefano, very appreciated !

[2020-05-04 05:44] victorsndvg commented on #30
Great job @szaghi ! Thanks!

[2020-05-04 07:53] AliE89 commented on #30
Ciao Stefano,

I am personally getting an error while compiling under gfortran:

" src/lib/vtk_fortran_vtk_file_xml_writer_abstract.f90:658:42:

       xml_volatile = self%xml_volatile%raw
                                          1
Error: Component ‘raw’ at (1) is a PRIVATE component of ‘string’
make: *** [makefile:424: static/obj/vtk_fortran_vtk_file_xml_writer_abstract.o] Error 1 "

I think thi

[2020-05-04 10:35] szaghi commented on #30
I am personally getting an error while compiling under gfortran:

" src/lib/vtk_fortran_vtk_file_xml_writer_abstract.f90:658:42:

[code]

Error: Component ‘raw’ at (1) is a PRIVATE component of ‘string’
make: *** [makefile:424: static/obj/vtk_fortran_vtk_file_xml_writer_abstract.o] Error 1 "

I think this is related to the volatile changes you mentioned.

Sorry, I keep messing you up :)s you menti

[2020-05-04 14:53] AliE89 commented on #30
Sure, It was that :) all good then! Let you known if working with the library I find something else to fix! Thanks!

[2020-05-04 15:30] szaghi commented on #30
thank you very much!

See you soon

[2020-05-04 15:30] #30 closed

[2020-05-04 15:31] szaghi commented on #30
I closed this issue, it seems ok now.

Feel free to reopen it or a new one for any problems.

Cheers

[2020-05-07 15:05] marc-git commented on #29
Awesome. And Fobis works perfectly.

[2020-05-07 17:15] szaghi commented on #29
I am closing this issue, feel free to re-open it or a new one.

Cheers

[2020-05-07 17:15] #29 closed

[2020-11-24 11:23] AliE89 opened #31 "General polyhedrons handling"
Ciao Stefano,

Hope you are doing well. This is just a question out of the box. Can VTKFortran deal with general polyhedrons?

[2020-11-24 14:31] AliE89 commented on #31
Since there is no polydata support I guess I am skrewed... Would it be difficult to add?

[2020-11-25 12:40] AliE89 opened #32 "pvtu (unstructured)"
Ciao Stefano,

Do you have an example to write pvtu?

I can only find pvts in the examples and the source file seems to include pvts only.

Thanks!

[2020-11-25 12:56] AliE89 commented on #32
Ok, sorry I have misunderstood the usage. It works for pvtu. Here what I have done, it can be usefull to other users as well:

			ierr = pvtk_field_file%initialize(filename='postProc/VTKfields/Parallel/mesh.pvtu', &
					                          mesh_topology='PUnstructuredGrid', mesh_kind="Float64")

			ierr = pvtk_field_file%xml_writer%write_dataarray(location='cell', action='open')

			!error

[2021-02-23 14:11] rob-777 commented on #26
@szaghi  Thank you for your work. However, I'm encountering problems with penf.f90:
[code]
With make:
[code]

[2021-03-12 07:59] szaghi commented on #26
@rob-777

I am very sorry for my delay.

It seems that you have not downloaded all the submodules, please make sure that into the path `src/third_party/` there are all the submodules, namely BeFoR64, FACE, FoXy, PENF and StringiFor. Probably you have not recursively cloned the repository with the submodules, e.g. `git clone --recurse-submodules git@github.com:szaghi/VTKFortran.git`.

Let me know i

[2021-03-12 08:00] szaghi commented on #26
@AliE89

I think I can close this issue, are you agree?

[2021-03-12 08:06] AliE89 commented on #26
Hello guys,

I had the same issue so far, just make sure you have penf and the other bu
ch of dependencies in your third party directory.

If you are in troubles, I can share my copy of vtk fortran which runs just
fine!

On Fri, 12 Mar 2021, 09:00 Stefano Zaghi, ***@***.***> wrote:

[2021-03-12 08:07] szaghi commented on #32
@AliE89

I am sorry for my delay.

Have you solved it? I have to improve examples and docs, my bad.

[2021-03-12 08:09] szaghi commented on #31
@AliE89

I am sorry for my delay, my bad.

Currently, it is not supported and I do not know how difficult is to add it. I cannot promise anything, but I'll try to figure out the effort necessary in the future.

[2021-03-12 08:10] AliE89 commented on #32
Hi Stefano,

Yes it was really easy doing that, i found an example in the doc in the end
:)

I am still a bit puzzled on polyheadral cells, any suggestion?

On Fri, 12 Mar 2021, 09:07 Stefano Zaghi, ***@***.***> wrote:

[2021-03-12 08:10] #24 closed

[2021-03-12 08:10] #21 closed

[2021-03-12 08:13] szaghi commented on #32
@AliE89

Indeed, nope because I have never used poly output. I'll try to figure out how complicated is to support it (I guess not so complicated), but I cannot plan a timeline right now, I am really too much busy with my official work.

[2021-03-12 08:14] AliE89 commented on #31
Cool, for I have tried out something but still not found a solution. It is
more the fact I cannot find a good example for that, than a VTKfortran
issue. I am  in the silky situation where my fvm code can ha dle
polyheadral cells, but i cannot visualize the results, as consequence i
must use celles woth max 6 faces... We can work a bit together on that if
you like. Probably the thing a need the mos

[2021-03-12 08:18] szaghi commented on #31
@AliE89

Sure, let me some days and give me a reminder in the middle of the next week, hoping I will be less busy than now.

[2021-03-12 08:24] AliE89 commented on #31
Cool stuff.

Since you are a fluid dynamicist as me and a skilled fortran programmer as
well, I take the occasion to share with you the code I am working on:
https://flubiopetsc.github.io/flubiopetsc/index.html

Cheers!

On Fri, 12 Mar 2021, 09:19 Stefano Zaghi, ***@***.***> wrote:

[2021-03-12 09:07] szaghi commented on #31
@AliE89

FLUBIO rocks!

[2021-03-12 09:09] szaghi commented on #31
@AliE89

I am working on a totally new code for work, an AMR very high order IB solver, highly parallel (tailored to exascale on GPU cluster). Unfortunately is not FOSS, but I will like to share my experience if you are interested.

[2021-03-12 09:26] AliE89 commented on #31
Oh thanks, appreciate you like it! It is currently under massive
developments, basically I am alone in coding it, while my mate is more on
validations and test cases. Still a lot of things to do!
Feel free to jump in if you are interested in (i can add you to the repo),
you should have really no issue in understanding the code!

Yes sure, feel free to send me an emai! I am not very experienced wit

[2021-03-12 09:35] szaghi commented on #31
@AliE89

I am now following FLUBIO on gitlab, I hope to find the time to study it soon. I read your paper, nice! I read that you are from Poli-Genova, we have worked a lot with Genova, maybe we can try to a web call soon or later.

Cheers

[2021-03-12 10:00] AliE89 commented on #31
Ah yeah, I remember people from your lab coming to Genoa from time to time.
Unfortunately, I am not working for uni anymore since early 2019, but I
still do things with them (papers, discussions and so on during my free
time and week ends) . Cool, keep in touch then, feel free to send me an
email to this address or in gitlab as well! :)

[2022-02-27 17:30] AliE89 commented on #31
Ciao Stefano,

Hope you are doing well.

 It took me ages, but in the end I got polyhedron right. I think that library-wise you just need to do a very small modificiation in the function write_connectivity() in vtk_fortran_vtk_file_xml_writer_abstract.f90 to allow it to get 2 optional arrays (faces and faceoffsets).

I did like this:

`er(I4P),               intent(in)    :: nc               !< Nu

[2022-02-28 08:44] szaghi commented on #31
Dear @AliE89

I fine thanks, I hope you too.

Thank you very much for your help it is really appreciated. Do you like to create a Pull Request? I will happy to accept and merge your PR. In case you cannot I try to put your patch directly into the library during this week.

Cheers

[2022-02-28 09:01] AliE89 commented on #31
Sure, I'll prepare and MR, no problems.

Just a couple of notes for users interested in polyhedra:
- Connectivity list (i.e. the address of the points composing the polyhedron) can be mixed up, you do not need to follow a particular order as in Hexas for examples.
-Points composing each face (to be passed in the array "faces") must be oriented, otherwise paraview will break them when visualising t

[2022-02-28 09:02] szaghi commented on #31
@AliE89 Thank you again

[2022-02-28 09:33] AliE89 commented on #31
I cannot push my branch unfortunately to your repo. I must missing some settings...  I'll attach the new file here:
[vtk_fortran_vtk_file_xml_writer_abstract.zip](https://github.com/szaghi/VTKFortran/files/8152137/vtk_fortran_vtk_file_xml_writer_abstract.zip)

[2022-02-28 09:59] szaghi commented on #31
@AliE89 I'll merge is ASAP

Cheers

[2022-03-13 18:36] AliE89 commented on #31
Hi Stefano,
[vtk_fortran_vtk_file_xml_writer_abstract.zip](https://github.com/szaghi/VTKFortran/files/8240380/vtk_fortran_vtk_file_xml_writer_abstract.zip)

sorry really my bad. I just realized there is a bug in the file a shared with you. We need to clone the <cells> after faces and faceoffsets, really missed. I attached here the correct one

[2022-03-14 08:45] szaghi commented on #31
Hi @AliE89

thank you very much for the fix. I'll patch the library ASAP.

Cheers

[2022-03-14 09:09] AliE89 commented on #31
Stefano,

I am looking at adding polygons as well to represent boundaries using
polyhedral meshes. It will take a while as always but eventually I'll post
it here as well.

[2022-06-01 03:53] hjunqq opened #34 "low performance in vtk_fortran_dataarray_encoder"
the code like
[code]
in **vtk_fortran_dataarray_encoder.f90**
takes a long time to execute when a large amount of data needs to be processed

[2022-06-01 05:26] szaghi commented on #34
Hi @hjunqq

I know, but **vtk_fortran_dataarray_encoder** is the encoder for ASCII files that are not tailored for a large amount of data.

If you have to write large files I strongly suggest using a raw binary encoder.

Kind regards

[2022-06-02 07:19] hjunqq commented on #34
I modify the code like that:
[code]
it has better performance, but doesnot as elegant as the code you wrote.

[2022-06-02 07:54] hjunqq commented on #34
#35

[2022-06-06 14:04] szaghi commented on #34
Hi @hjunqq
sorry for my delay. Yes, there is room for improvement, but for the ASCII encoder, I was focused on clearness, conciseness, and maintainability rather than performance just because for larger files the raw-binary encoder is the right option. Anyway, you patch is fine for me.

Kind regards

[2022-08-25 06:53] hassaniriad opened #36 "Tested with nag compiler"
Hi Stefano,
First of all, thank you for this great and very useful library.

As I saw that VTKFortran has not been tested with nagfor and there may be people interested, I would like to inform you that it works perfectly with one small detail: nagfor complains about the selected_real_kind(33,4931) value of the R16P parameter (penf_global_parameters_variables module): "...does not specify a valid r